.sign-in {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    justify-content: center;
}

/* ChatInput.css */
.chat-input-container {
    display: flex;
    margin-top: 16px;
    padding: 50px;
}

.chat-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.send-button {
    padding: 10px;
    font-size: 16px;
    background-color: #2196f3;
    color: #fff;
    border: 1px solid #2196f3;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
}

.send-button:hover {
    background-color: #0d8ae8;
    border-color: #0d8ae8;
}
